/* .base-page {
    background-color: #f2f2f2;
    padding: 20px;
} */

/* .navbar-container {
    display: flex;
    justify-content: center;
} */
.heading {
    display: flex;
    justify-content: center;
}

.background-image {
    background-image: url('/Users/abdurrehman/Documents/study/Work/use_case/use_case/src/img.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    font-weight: 40px;
    background-size: contain;

}

.background-image-text {
    padding: 5%;
}

.main-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* min-height: 100vh; */
}

.main {
    padding: 0 7% 0 7%;
}

.background-image-text-p {
    padding: 2%;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.service-item {
    background-color: #f2f2f2;
    padding: 20px;
}

.section-divider {
    height: 2px;
    background-color: #000;
    margin: 20px 0;
}

.customer-reviews-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.review-item {
    background-color: #f2f2f2;
    padding: 20px;
}


.signup-form-container {
    text-align: center;
}

.signup-form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.signup-form-container form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.signup-form-container input,
.signup-form-container button {
    padding: 10px;
    margin-bottom: 10px;
}

.signup-form-container button {
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
}