.main {
    padding: 0 7% 0 7%;
}

.heading {
    display: flex;
    justify-content: center;
}

.background-image {
    background-image: url('https://images.ctfassets.net/o0a5sen1qlbz/1hb3q3JD5sXL24CiiUIwqK/a5566a25e68235d77912083129611f2a/Group_2100.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-weight: 40px;

}

.background-image-text {
    padding: 5%;
}

.main-container {
    display: flex;
    flex-direction: column;
}


.background-image-text-p {
    padding: 2%;
}

.services-container {
    display: grid;
    grid-template-columns: 450px 450px !important;
    grid-template-rows: 450px 450px !important;
    justify-content: center;
    grid-gap: 50px 50px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

}

.service-item .service-item-heading {
    /* fontFamily: 'Roboto Slab'; */
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 28px;
    color: #223554;
    line-height: 36px;
    border: 0px !important;
    margin: 0px 0px 20px;

}
.service-item .service-item-p {
    font-family: Nunito, sans-serif;
    font-size: 18px;
    margin: 18px 0px;
    color: #223554;
}

.rounded-corners {
    border-radius: 25px;
    /* position:'absolute' !important; */
    position: absolute;
    bottom: 30px;
    left: 30px;
    border: 0px;
}

.rounded-corners :hover {
    background-color: black;

}

.service-item {
    background-color: #ffffff;
    border: solid;
    position: relative;
    border-color: #d1d1d1;
    padding: 20px 50px 40px 50px;
    height: 450px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.services-container :hover {
    border-bottom: 10px solid rgb(22, 118, 213);
}

.service-item button {
    /* border: 10px solid black;  */
    color: rgb(7, 82, 156);
    /* border-color: black; */
    background-color: rgba(239, 232, 232, 0.706);
    height: 50px;
    width: 150px;
}

.service-item:hover button {
    background-color: rgb(7, 103, 199);
    color: white;
    /* transition: color 1s ease-in-out; */
}

.service-item p,
h1,
button,
img {
    border: 0px !important;
}

.section-divider {
    height: 2px;
    background-color: #000;
    margin: 20px 0;
}

.foot .section-divider {
    background-color: white;
}

.footer-container {
    /* background-color: rgb(47, 77, 167); */
    color: white;
    padding: 5% 10% 5% 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-container-1 {
    padding: 3% 10% 3% 10%;
    color: white;
}

.footer-container-2 {
    display: flex;
    color: white;
}

.foot {
    background-color: #0d3f8a;
    padding: 3% 10% 3% 10%;
    justify-content: center;
}

.footer-column {
    flex: 1 1 30%;
    margin-bottom: 20px;
}

.footer-column h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: non e;
    padding: 0;
}

.footer-column li {
    margin-bottom: 5px;
}

.footer-column p {
    margin-bottom: 5px;
}