.main {
    padding: 0 7% 0 7%;
}
/* .base-page {
    background-color: #f2f2f2;
    padding: 20px;
} */

/* .navbar-container {
    display: flex;
    justify-content: center;
} */
.heading {
    display: flex;
    justify-content: center;
}

.background-image {
    background-image: url('https://images.ctfassets.net/o0a5sen1qlbz/1hb3q3JD5sXL24CiiUIwqK/a5566a25e68235d77912083129611f2a/Group_2100.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 150%; */
    /* width: 150%; */
    color: #ffffff;
    font-weight: 40px;
    /* background-size: contain; */

}

.background-image-text {
    padding: 5%;
}

.main-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* min-height: 100vh; */
}


.background-image-text-p {
    padding: 2%;
}

.services-container {
    /* padding: 0 10% 0 50%; */
    display: grid;
    /* grid-template-columns: repeat(2, minmax(250px, 1fr)); */
    grid-template-columns: 450px 450px;
    grid-template-rows: 450px 450px;
    /* display: flex;*/
    justify-content: center; 
    grid-gap: 50px 50px;
}
.rounded-corners {
    border-radius: 25px;
  }

.service-item {
    background-color: #ffffff;
    border: solid;
    position: relative;
    border-color: #d1d1d1;
    padding: 20px;
    grid-template-columns: 450px 450px;
    grid-template-rows: 450px 450px;
}
/* .service-item h1,p {
    border:'0px'
} */
.services-container :hover {
    /* border: solid 10px; */
    border-bottom: 10px solid #0070f8;
    
    /* border-color: rgb(0, 17, 174); */
}
.services-container rounded-corners :hover{
    background-color: #498fe4;
}

/* .service-item p {
    border:'0px';
} */
.section-divider {
    height: 2px;
    background-color: #000;
    margin: 20px 0;
}

.footer-container {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.foot {
    /* padding: 5%; */
    /* display: flex; */
    justify-content: center;

}

.footer-column {
    flex: 1 1 30%;
    margin-bottom: 20px;
}

.footer-column h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 5px;
}

.footer-column p {
    margin-bottom: 5px;
}